* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
}

body {
  background-image: url("https://i.pinimg.com/originals/31/0d/4a/310d4a2f36b4fe4a07a31f5f7759a4d3.jpg");
}

.mainContainer {
  background-size: auto;
  display: flex;
  width: 70%;
  height: 50rem;
  margin: 2rem auto;
  align-items: center;
  flex-direction: column;
  border-radius: 13px;
}

/* ------ PERSONAGENS DE SELEÇÃO  --------- */
.characters {
  border-radius: 50%;
  width: 27%;
  border: 5px solid rgba(33, 0, 122, 0.794);
  cursor: pointer;
}

.imageBox {
  background: rgba(0, 0, 255, 0);
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin-top: 30px;
}

/* ----- ESTILO PARA O NOME DOS PERSONAGENS ------ */
#nomeMario{
  color: black;
  border-bottom: solid 5px red;
}

#nomeLuigi{
  color: black;
  border-bottom: solid 5px green;
}
#nomePeach{
  color: black;
  border-bottom: solid 5px palevioletred;
}

/* ---------HEADER DA PAG ------------ */

.logoImg {
  width: 35%;
  margin-top: 1rem;
}

.titleName {
  text-align: center;
  font-size: 80px;
  height: 50px;
  margin-top: 2%;
  background-color: #342299;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(160, 43, 43, 0.842) 0px 3px 3px;
  color: transparent;
  margin-bottom: 3rem;
}


/* ------- hover dos personagens -------- */

.characters:hover {
  background-color: rgb(255, 1, 1);
  transition: all 1.5s;
  -webkit-transform: rotateY(-360deg);
  -ms-transform: rotateY(-360deg);
  transform: rotateY(-360deg);
}
.boxName {
  display: flex;
  justify-content: space-between;
  width: 45%;
  font-size: 90%;
  padding-top: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}

body > img {
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
}

.boxText {
  background: rgba(255, 250, 250, 0.315);
  width: 40%;
  margin-top: 1.5rem;
  padding: 12px;
  font-size: 23px;
  border-radius: 5px;
}
